html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.text-family
{
    font-family: 'Nunito', sans-serif;   
}
#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: white;
    width: 100%;
    height: 100%;  
    overflow-y: hidden;

    z-index: 99999999;
}
.custom-loader {
    width:120px;
    height:120px;
    border:2px solid #559fff;
    display: grid;
    transition: opacity 5s;
    animation: h1 4s infinite linear;
  }
  .custom-loader::before,
  .custom-loader::after {
    content: "";
    grid-area: 1/1;
    margin:auto;
    width:70.7%;
    height:70.7%; 
    border:2px solid #766DF4;
    animation: inherit;
  }
  .custom-loader::after {
    width:50%;
    height:50%;
    border:2px solid #e58eff;
    animation-duration: 2s;
  }
  @keyframes h1{
    100% {transform:rotate(1turn)}
  }

.hero-sec
{

    position: relative;
    text-align: center;

}
#background-video {
    width: 100%;
    height:650px;
    object-fit: cover;
    filter: blur(0.1px);
    border: none;
  }
.hero-heading
{
    text-align: center;
    font-size: 46px;
    color: white;
    font-weight: bolder;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.hero-text
{
    display: flex;
    flex-direction: column;
    padding: 90px 120px;
    border-radius: 25px;
    background-color: rgba(210, 205, 205, 0.267);
    width:60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.hero-subheading
{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 2vw;
}
.hero-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    width: 6vw;
    background:none;
    padding: 9px;
    color: white;
    border: 1px solid white;
    border-color: white;
    border-radius: 15px;
    text-decoration: none;
    
}
.hero-btn:hover
{
    background-color: rgba(245, 245, 245, 0.293);
    transition: 0.5s;
    color: rgb(255, 255, 255);
    border: none;
}
.float-man
{
    width: 400px;
    height: auto;
    animation: levitate 5s ease-in-out infinite ;
   
}
.text-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
   
    margin: 0;
    background-color: white;
    padding: 20px;
    
}
.big-container
{
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 
    background: rgb(207,117,251);
    background: linear-gradient(0deg, rgba(207,117,251,1) 22%, rgba(135,188,255,1) 53%, rgba(255,255,255,1) 100%);
    
}
.big-container-reverse
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 
    background: rgb(207,117,251);
background: linear-gradient(180deg, rgba(207,117,251,1) 31%, rgba(135,188,255,1) 57%);
}
.big-container-reverse-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 
    background: rgb(135,188,255);
    background: linear-gradient(180deg, rgba(135,188,255,1) 22%, rgba(135,188,255,1) 53%, rgba(255,255,255,1) 100%);
}
.heading-text
{
    font-size: 48px;
    font-weight: bolder;
    color: rgb(26, 92, 154);
}
.subheading-text
{
    font-size: 20px;
    font-weight: 450;
    letter-spacing: 1px;
    padding: 20px 60px;

}
.feature-text
{
    font-size: 48px;
    font-weight: bolder;
    color: rgb(26, 92, 154);
    border-top: 3px solid rgba(136, 0, 194, 0.686);
    width: 85%;
    padding: 15px 10px 15px 10px;
}
.card
{
    margin: 15px 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.116) 0px 15.5px 15px 0px;
    width: 19rem;
    height: 25rem;
}
.card-img-top
{
    width: 150px;
    height: 150px;
}
.card-title
{
    color: rgb(102, 2, 111);
}
.card-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.footer
{
    background-color: rgb(20, 19, 19);
    padding: 4vw 20px 4vw 20px;
    margin: 0;
}
.footer p
{
    margin: 0;
}
.footer-heading
{
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: #559fff;
    font-weight: bolder;
}
.social-icons
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 40%;
   margin: auto;
    padding-top: 10px;

}
.icon
{
    color: #e58eff;
}
.icon:hover
{
    color: #559fff;   
    text-decoration: none;
}
.contact-links
{
    padding-top: 8px;
    font-weight: 400;
    color: #e58eff;
}
.copyright
{
    color: rgb(170, 170, 170);
    font-size: 18px;
    padding-top: 10px;
}

@keyframes levitate {
    0%, 100% {
        transform:translateY(0px);
      }
      50% {
       transform: translateY(-20px);
      }
    
}
@media (max-width:1417px)
{
    .hero-btn{
        display: none;
        visibility: hidden;
    }
}
@media (max-width:773px) {
    .hero-heading
    {
        font-size: 30px;
    }
    .hero-subheading
    {
        
        font-size: 20px;
    }
    .hero-text
    {
        padding: 40px 25px;
    }
    .feature-text, .heading-text
    {
        font-size: 45px;
    }
    .float-man
    {
        width: 350px;
    }
   
}
